In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import StandardScaler

In [4]:
df = pd.read_csv('data/houses.txt',header=None,names=['size(sqft)','bedrooms','floors','age','House Price'])
df

        size(sqft)  bedrooms  floors    age
952.0          2.0       1.0    65.0  271.5
1244.0         3.0       1.0    64.0  300.0
1947.0         3.0       2.0    17.0  509.8
1725.0         3.0       2.0    42.0  394.0
1959.0         3.0       2.0    15.0  540.0
...            ...       ...     ...    ...
1224.0         2.0       2.0    12.0  329.0
1432.0         2.0       1.0    43.0  388.0
1660.0         3.0       2.0    19.0  390.0
1212.0         3.0       1.0    20.0  356.0
1050.0         2.0       1.0    65.0  257.8

[100 rows x 4 columns]